<%= form_tag(blogs_path) do %>
  <div class="form-group">
    <%= label_tag 'blog[title]', 'Blog title' %>
    <%= text_field_tag 'blog[title]', blog.title, placeholder: 'Enter Blog title', class: "form-control" %>
  </div>


  <div class="form-group">
    <%= label_tag 'blog[body]', 'Blog body' %>
    <%= text_area_tag 'blog[body]', blog.body, placeholder: 'Enter Blog body', class: "form-control", rows: 8 %>
  </div>

  <div class="form-group">
    <%= submit_tag current_action_label, class: "btn btn-primary" %>
  </div>

<% end %>
