<h2>ABOUT ME</h2>

<hr>

<div class="row">

	<div class="col-md-4 center-content">

		<%= image_tag 'me.jpg', height: 350, alt: "Felix Eichner" %>

	</div>

	<div class="col-md-8 center-content">

	<p>This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
			This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
			This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
			This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
			This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
			This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
			This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
			This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
			This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
	</p>
	
	</div>
</div>
<div class="skills col-md-9">
	<% @skills.each do |skill| %>
		<span class="progress">
		<strong><%= skill.title %></strong>
		 	<span class="progress-bar progress-bar-striped bg-warning"
	  			 role="progressbar"
	  			 style="width: <%= skill.percent_utilized %>%;"
	  			 aria-valuenow="<%= skill.percent_utilized %>"
	  			 aria-valuemin="0"
	  			 aria-valuemax="100">
	  			 <%= skill.percent_utilized %> %
	  	</span>
  	</span>
	<% end %>
</div>
