<h1>Homepage</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to 'Blogs', blogs_path %>
<hr>
<br>

<h2>Portfolios</h2>
<% @portfolios.each do |portfolio| %>
	<p>
		<%= url_for(portfolio.thumb_image) %>
		<%= portfolio.title + ", " + portfolio.subtitle %>
	</p>
	<p><%= portfolio.body %></p>
<% end %>
<hr>

<h2>Blog Posts</h2>
<% @posts.each do |p| %>
	<p><%= "Title: " + p.title + ", " %>
	<%= "Body: " + p.body %></p>
<% end %>
<hr>

<h2>Skills</h2>
<% @skills.each do |s| %>
	<p><%= s.title + ": " + s.percent_utilized.to_s %></p>
<% end %>
