<h2>Homepage</h2>
<p>Find me in app/views/pages/home.html.erb</p>
<hr>
<br>

<h2>Portfolios</h2>
<% @portfolios.each do |portfolio| %>
	<p>
		<%= link_to image_tag(portfolio.thumb_image), "https://placeholder.com" unless portfolio.thumb_image.nil? %>
		<%= portfolio.title + ", " + portfolio.subtitle + ", " + portfolio.body %>
	</p>
<% end %>
<hr>

<h2>Blog Posts</h2>
<% @posts.each do |p| %>
	<p>
		<%= "Title: " + p.title + ", " %>
		<%= "Body: " + p.body %></p>
<% end %>
<hr>

<h2>Skills</h2>
<% @skills.each do |s| %>
	<p>
		<%= image_tag(s.badge) unless s.badge.nil? %>
		<%= s.title + ": " + s.percent_utilized.to_s %>
	</p>
<% end %>
<hr>

<h2>Users</h2>
<% @users.each do |u| %>
	<p>
		<%= 'Name: ' + u.name + ", " %>
		<%= 'Email: ' + u.email %>
	</p>
<% end %>